* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-size: 0.875rem;
  min-height: 100vh;
  color: #070606;
  line-height: 1.5;
  background-color: #fffdfa;
}

img {
  max-width: 100%;
  display: block;
}

h1,
h2,
h3,
h4,
h5,
p,
figure {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
p,
figure {
  font-weight: 400;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.displayUsers {
  margin-top: 20px;
}

.displayUsers div {
  width: 400px;
  height: 150px;
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}
